* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./img/ff7.jpg") center center/cover no-repeat;
  cursor: url("https://cur.cursors-4u.net/games/gam-3/gam210.ani"), url("https://cur.cursors-4u.net/games/gam-3/gam210.png"), default !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
